[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/ntp"]
	path = puppet/modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "puppet/modules/varnish"]
	path = puppet/modules/varnish
	url = https://github.com/camptocamp/puppet-varnish.git
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = https://github.com/ripienaar/puppet-concat.git
[submodule "puppet/modules/pear"]
	path = puppet/modules/pear
	url = https://git.sarava.org/puppet-pear.git
[submodule "puppet/modules/solr"]
	path = puppet/modules/solr
	url = https://github.com/computerminds/puppet-solr.git
